@import 'compass';
@import 'compass/reset';
@import 'compass/support';
@import "compass/utilities/general/clearfix";
@import "compass/css3/background-size";
@import "helpers";

@-webkit-keyframes lightSpeedInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-40deg);
    transform: translate3d(100%, 0, 0) skewX(-40deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-40deg);
    transform: translate3d(100%, 0, 0) skewX(-40deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.lightSpeedInRight {
  -webkit-animation-name: lightSpeedInRight;
  animation-name: lightSpeedInRight;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes lightSpeedInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(40deg);
    transform: translate3d(-100%, 0, 0) skewX(40deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(40deg);
    transform: translate3d(-100%, 0, 0) skewX(40deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.lightSpeedInLeft {
  -webkit-animation-name: lightSpeedInLeft;
  animation-name: lightSpeedInLeft;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.hide{
	display: none;
}
.img-logo{
	width: 71px;
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}
.img-sun{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.btn-sound{
	width: 36px;
	height: 35px;
	display: block;
	background: url('/img/icon-sound.png') top no-repeat;
	background-size: 36px 70px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}
.img-swipe1{
	width: 14px;
	position: absolute;
	bottom: 36px;
	left: 50%;
	z-index: 100;
	animation-duration: 3s;
	-webkit-animation-duration: 3s !important;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.img-swipe2{
	width: 39px;
	position: absolute;
	bottom: 0;
	left:50%;
	margin-left: -12px;
	z-index: 100;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.page-1{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.page1-text{
		width: 223px;
		height: 154px;
		position: absolute;
		top: 0;right: 0;bottom: 0;left: 0;
		margin: auto;
		z-index: 100;
		img{
			width: 100%;
		}
		.img-1-2{
			animation-delay: 1s;
			-webkit-animation-delay: 1s;
		}
		.img-1-3{
			animation-delay: 2s;
			-webkit-animation-delay: 2s;
		}
		.img-1-4{
			animation-delay: 3s;
			-webkit-animation-delay: 3s;
		}
	}
	.img-1-5{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 26px;
	}
	.img-1-6{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.page-2{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-2-1{
		width: 88px;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		margin: auto;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.img-2-2{
		width: 242px;
		position: absolute;
		top: 150px;
		left: 0;
		right: 0;
		margin: auto;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 3s;
		-webkit-animation-delay: 3s;
	}
	.img-2-3{
		width: 279px;
		position: absolute;
		bottom: -20px;
		left: 5%;
		z-index: 70;
		animation-delay: 4s;
		-webkit-animation-delay: 4s;
	}
	.img-2-4{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 50;
	}
	.img-2-5{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0px;
	}
}
.page-3{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-3-1{
		width: 320px;
		height: 138px;
		position: absolute;
		left: 50%;
		margin-left: -125px;
		top: 10%;
		background: url("/img/page3-input1.png") left no-repeat;
		background-size: 258px 138px;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
		.input-1{
			width: 100px;
			position: relative;
			top: 83px;
			left: 20px;
			background: transparent;
			border: none;
			outline:none;
			text-align: center;
		}
	}
	.img-3-2{
		width: 320px;
		height: 138px;
		position: absolute;
		left: 50%;
		margin-left: -125px;
		top: 45%;
		background: url("/img/page3-input2.png") left no-repeat;
		background-size: 258px 138px;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
		.input-2{
			width: 100px;
			position: relative;
			top: 83px;
			left: 140px;
			background: transparent;
			border: none;
			outline:none;
			text-align: center;
		}
	}
	.img-3-3{
		width: 129px;
		position: absolute;
		bottom: 10%;
		left: 0;right: 0;
		margin: auto;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 3s;
		-webkit-animation-delay: 3s;
	}
	.img-3-4{
		width: 100%;
		height: 26px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.page-4{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-4-1{
		width: 120px;
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -120px;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.img-4-2{
		width: 120px;
		position: absolute;
		top: 22%;
		left: 50%;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.img-4-3{
		width: 195px;
		position: absolute;
		left: 50%;
		margin-left: -100px;
		top:50%;
		z-index: 50;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 2s;
		-webkit-animation-delay: 2s;
	}
	.img-4-4,.img-4-5{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.finger{
		font-size: 36px;
		font-family: mf_qingshu;
		height: 36px;
		line-height: 36px;
		width: 72px;
		z-index: 50;
		color: #ef5482;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -95px;
		margin-top: 53px;
		span{
			display: block;
			text-align: right;
		}
		.finger-age{
			animation-duration: 1s;
			-webkit-animation-duration: 1s;
			animation-delay: 2s;
			-webkit-animation-delay: 2s;
		}
	}
}
.page-5{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/pagei1-bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-5-1{
		width: 65%;
		position: absolute;
		left: 0;
		bottom: 0;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.page5-text{
		width: 45%;
		position: absolute;
		right: 0;
		top: 28%;
		img{
			width: 100%;
		}
		.img-5-2,.img-5-3,.img-5-4,.img-5-5,.img-5-6{
			animation-duration: 2s;
			-webkit-animation-duration: 2s;
		}
		.img-5-2{
			animation-delay: 2s;
			-webkit-animation-delay: 2s;
		}
		.img-5-3{
			animation-delay: 3.5s;
			-webkit-animation-delay: 3.5s;
		}
		.img-5-4{
			animation-delay: 5s;
			-webkit-animation-delay: 5s;
		}
		.img-5-5{
			animation-delay: 6.5s;
			-webkit-animation-delay: 6.5s;
		}
		.img-5-6{
			animation-delay: 8s;
			-webkit-animation-delay: 8s;
		}
	}
}
.page-6{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/pagei2-bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-6-1{
		width: auto;
		height: 90%;
		position: absolute;
		bottom: 10px;
		left: 10px;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.page6-text{
		width: 45%;
		position: absolute;
		right: 0;
		top: 40%;
		img{
			width: 100%;
		}
		.img-6-2,.img-6-3,.img-6-4,.img-6-5,.img-6-6,.img-6-7{
			animation-duration: 2s;
			-webkit-animation-duration: 2s;
		}
		.img-6-2{
			animation-delay: 2s;
			-webkit-animation-delay: 2s;
		}
		.img-6-3{
			animation-delay: 3.5s;
			-webkit-animation-delay: 3.5s;
		}
		.img-6-4{
			animation-delay: 5s;
			-webkit-animation-delay: 5s;
		}
		.img-6-5{
			animation-delay: 6.5s;
			-webkit-animation-delay: 6.5s;
		}
		.img-6-6{
			animation-delay: 8s;
			-webkit-animation-delay: 8s;
		}
		.img-6-7{
			animation-delay: 9.5s;
			-webkit-animation-delay: 9.5s;
		}
	}
}
.page-7{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.img-7-1{
		width: auto;
		height: 65%;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -140px;
		z-index: 80;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
	}
	.page7-text{
		width: 220px;
		position: absolute;
		top: 12%;
		left: 50%;
		margin-left: -80px;
		img{
			width: 100%;
		}
		.img-7-2,.img-7-3,.img-7-4{
			animation-duration: 2s;
			-webkit-animation-duration: 2s;
		}
		.img-7-2{
			animation-delay: 2s;
			-webkit-animation-delay: 2s;
		}
		.img-7-3{
			animation-delay: 3.5s;
			-webkit-animation-delay: 3.5s;
		}
		.img-7-4{
			animation-delay: 5s;
			-webkit-animation-delay: 5s;
		}
	}
	.img-7-5{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 50;
	}
}
.page-8{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.page8-text{
		width: 218px;
		position: absolute;
		top: 20%;
		left: 50%;
		margin-left: -100px;
		img{
			width: 100%;
		}
		.img-8-1,.img-8-2,.img-8-3,.img-8-4,.img-8-5,.img-8-6{
			animation-duration: 2s;
			-webkit-animation-duration: 2s;
		}
		.img-8-1{
			animation-delay: 1s;
			-webkit-animation-delay: 1s;
		}
		.img-8-2{
			animation-delay: 3s;
			-webkit-animation-delay: 3s;
		}
		.img-8-3{
			width: 70px;
			margin-left: 60px;
			animation-delay: 5s;
			-webkit-animation-delay: 5s;
		}
		.img-8-4{
			animation-delay: 7s;
			-webkit-animation-delay: 7s;
		}
		.img-8-5{
			animation-delay: 9s;
			-webkit-animation-delay: 9s;
		}
		.img-8-6{
			animation-delay: 11s;
			-webkit-animation-delay: 11s;
		}
	}
	.img-8-7{
		width: 100%;
		position: absolute;
		bottom: -75px;
		left: 0;
	}
}
.page-9{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url('/img/bg.jpg');
	background-size: 100% 100%;
	overflow: hidden;
	.page9-text{
		width: 80%;
		position: absolute;
		top: 19%;
		left: 50%;
		margin-left: -130px;
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;
		img{
			width: 100%;
		}
		.img-9-1{
			margin-bottom: 10px;
		}
		.img-9-2{
			margin-bottom: 10px;
		}
		.img-9-3{
			width: 85%;
			margin-left: 20px;
			margin-bottom: 10px;
		}
		.img-9-4{
			width: 55%;
			margin-left: 60px;
		}
		.img-9-5{
			width: 55%;
			margin-left: 60px;
		}
	}
	.img-9-6{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}